
#login .error {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 400px;
}
#login .error .in {
    border: #00780e 5px solid;
    background-color: #434343;
    color: #d91717;
    padding: 20px;
}
#login table {
    margin: 0 auto;
    background-color: #202020;
    padding: 20px;
    width: 400px;
    color: white;
    text-align: right;
}
#login td {padding: 0px 0 10px 10px; color: white;line-height: 25px;}
#login input {
    border: 0;
    padding: 5px; margin: 0;

}
#login .button {
    background-color: #234283;
    color: white;
    font-weight: bold;
    padding: 10px;
}
#login  #err {
    background-color:#C41717;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
/* 
    Document   : admin
    Created on : 3.3.2013, 1:13:51
    Author     : Daniel
    Description:
        Purpose of the stylesheet follows.
*/
body{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    padding: 0; margin: 0;
}
#sideBar {
    float: left;
}
#content {
    overflow: hidden;
}
#topMenu {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 0 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0px solid #f2721d;

    color: white;
    float: left;
    height: 3em;
    line-height: 2em;
    
}
#topMenu ul {
    list-style: none outside none;
    margin: 0 10px; padding: 0;
}
#topMenu ul li {
    float: left;
    position: relative;
}
#topMenu ul li a {
    float: left;
    padding: 6px;
    color: white;
}
#topMenu ul li ul {
    display: none;
}
#topMenu ul li:hover ul, #topMenu ul li ul:hover  {
    display: block;
    position: absolute;
    top: 3em;
    left: -20px;

}
#topMenu ul li:hover ul li {
    float: none; clear: both;
}
#topMenu ul li:hover ul li a {
    width: 200px;
    padding: 6px;
   background-color: #1B435E;
}
#topMenu ul li:hover ul li a:hover {
      background-color:#2e57b6;  
}
.separator {
    display: block;
    float: left; 
    margin: 6px;
}
#user {
    float: right;
}
#topPanel {
    width: 100%;
    display: block;
}

#content {
    margin: 20px;
}
.control-form {
    clear: both;
}
.subMenu {
    display: block;
    width: 100%;
}
.subMenu ul {
    list-style: none outside none;

}
.subMenu ul li {
    float: left;

}
.subMenu ul li a {
   border-top: 1px solid #db4d00;
   background: #ab4211;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff9130), to(#ab4211));
   background: -webkit-linear-gradient(top, #ff9130, #ab4211);
   background: -moz-linear-gradient(top, #ff9130, #ab4211);
   background: -ms-linear-gradient(top, #ff9130, #ab4211);
   background: -o-linear-gradient(top, #ff9130, #ab4211);
   padding: 5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   float: left
   }
#subMenu li a:hover {
   border-top-color: #f2721d;
   background: #f2721d;
   color: #ffffff;
   }
#subMenu li a:active, #subMenu li.selected a {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.shadow {
    -webkit-box-shadow: 0px 0px 4px rgba(9, 9, 9, 0.75);
    -moz-box-shadow:    0px 0px 4px rgba(9, 9, 9, 0.75);
    box-shadow:         0px 0px 4px rgba(9, 9, 9, 0.75);
}
.border-trans {
    border: 3px solid rgb(0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.60);    
}
.no-trans {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 100; 
}
.rounded {  
  -moz-border-radius: 5px; /* Firefox */  
  -webkit-border-radius: 5px; /* Safari, Chrome */  
  border-radius: 5px; /* CSS3 */  
}
.rounded-top {  
  -moz-border-radius: 5px 5px 0 0 ; /* Firefox */  
  -webkit-border-radius:5px 5px 0 0 ; /* Safari, Chrome */  
  border-radius: 5px 5px 0 0 ; /* CSS3 */  
}
.rounded-bot {
  -moz-border-radius: 0 0 5px 5px; /* Firefox */  
  -webkit-border-radius: 0 0 5px 5px; /* Safari, Chrome */  
  border-radius: 0 0 5px 5px; /* CSS3 */  
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
.clear {
    clear: both;
}
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}

 .gradient-black {
    background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
h2 {
    font-size: 200%;
    margin: 20px 0
}
/*
table.admin-list {
    padding: 20px;
      border-collapse:collapse;
      min-width: 700px;
}
table.admin-list tr:nth-child(even) {
    background: #E7E8E7;

}
table.admin-list tr td, table.admin-list tr th {
    margin: 0;
    padding: 9px;
    text-align: center;
}
table.admin-list tr th {
    color: white;
    background: #8AA1A8;
}*/
a {
    color: #911800;
    text-decoration: none;    
}
a:hover {
    color: #AD2601;
    text-decoration: underline;
}
h3 {
    font-size: 14pt;
    margin: 10px 0;
}

/* forms */
.form-box {
    margin-bottom: 5px;
}
.btn {
    padding: 15px 30px;
}